/*titulos*/
$titulos-max: 2rem;
$titulos-mid: 1.2rem;
$titulos-min: 1.1rem;
/*titulos*/

/*Colores*/
$primary-color:#9B0B34;
$Fondo-color:#26262E;
$Box-color:#F2F2F2;
/*Colores*/

/*Textos*/
$Text-All:13px;
$Text-Description:16px;
/*Textos*/

/*Tamaño box img*/
$box-size:100px;
/*Tamaño box img*/
/* prueba de clonacion proyecto*/