@import "_var.scss";
@import "_Button&Text.scss";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}



/* barra de navegacion + logo saas*/
.backgruond__stily {
    background-color: $Fondo-color;
}

.container__nav {
    img {
        padding-top: 10px;
        padding-left: 25px;
    }
}

.nav {
    &__hover{
        align-items: flex-end;
    }
    &__hover::before{
        content: "";
        height: 2.5px;
        width: 0%;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        bottom: 14px;
        transition: 0.4s ease-out;
    }
    &__hover:hover::before{
        width: 100%;
    }
    ul {
        li {
            a {
                margin: 11px;
                color: aliceblue;
            }
            a:hover{
                color: $primary-color;
            }
        }
    }
}

/* barra de navegacion + logo saas*/

/*background + logos img*/
.imgbackgroud {
    width: 100%;
    height: auto;
}

.imglogoinfo1 {
    display: none;
}

.imglogoinfo2 {
    display: none;
}
/*background + logos img*/


/*Index*/
.containerindex {
    margin: auto;
    max-width: 1400px;
    &__emulatorsindex{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $Box-color;
        margin: 25px;
    }
    &__juegosindex { 
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $Box-color;
        margin: 25px;}
}

.emuimg {
    width: $box-size;
    margin: 5px;
}

.containerindex__Emuladores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.cointainer__juegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.jueimg {
    width: $box-size;
    margin: 5px;
}

/*Index*/



/*Contact.html sasss*/
.ContactForm {
    background-color: $Fondo-color;
    color: #ffffff;
    padding: 0 1.5em;

    &__Formulario {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        padding-bottom: 10rem;

        h1 {
            padding-bottom: 1em;
            text-align: center;
            font-size: 3em;
        }

        span {
            color: $primary-color;
        }
    }

    &__container {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        background-color: #222222;
        padding: 1em;

        h6 {
            font-size: 2rem;
            padding: 1.5rem;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            button,
            input,
            textarea {
                width: 100%;
                padding: .7em;
                border: none;
                background: none;
                outline: 0;
                color: #fff;
                border-bottom: 1px solid $primary-color;
            }

            button {
                background: #b70e21;
                border: 0;
                text-transform: uppercase;
                padding: .85em;

                &:hover,
                :focus {
                    background: $primary-color;
                    color: #000;
                    transition: background-color 1s ease-out;
                    outline: 0;
                }
            }

            .Bot__grid {
                grid-column: 1/3;

            }

            p {
                margin: 0;
                padding: 1em;
                padding-top: 1em;
            }
        }
    }
}
.background__contact {
    background-color: $Fondo-color;
}
/*Contact.html - Sass*/

/* Sistemas operativos Donwload saas*/
.sistemas {
    display: grid;
    justify-items: center;
    background-color: $Box-color;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            height: $box-size;
            padding-left: 8px;
            padding-top: 5px;
        }
    }
}

/* Guia instalacion Download*/
.Video__tuto {
    padding-top: 12px;
    text-align: center;
}

/* Guia instalacion Download*/
/* Sistemas operativos Donwload saas*/


/*Games.Html sass*/
.Games__body {
    width: 100%;
    background-color: $Fondo-color;

}


.container__gamecom {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    background-color: $Fondo-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
        border-bottom: 1px solid #DBDBDB;
        color: #DBDBDB;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        list-style: none
    }
    p {
        font-size: 20px;
        padding-left: 30px;
        font-size: $Text-Description;
    
    }
}


.Checkcomp {
    display: inline-block;
    padding-right: 30px;
    padding-left: 8px;

}

.box__chek {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.game__list {
    padding: 20px;

}

.container__gamelist {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 7rem;
    background-color: $Fondo-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
        border-bottom: 1px solid $Box-color;
        color: #DBDBDB;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        list-style: none;
        font-size: $Text-Description;
    
    }

}

#game__celeste {
    background-color: #5c93ed;

}

#game__verde {
    background-color: #47d35c;
}

#game__verdeos {
    background-color: #94b242;
}

#game__amarillo {
    background-color: #eacd13;
}

#game__rojo {
    background-color: red;
}

#game__gris {
    background-color: #828282;
}

#game__negro {
    background-color: black;
}

/*Games.Html saas*/



/*Interface saas*/
.interfaceConte {
    h3 {
        padding-top: 20px;
    }

    &__pestañas {
        display: flex;
        flex-wrap: wrap;
    }

    &__interface {
        padding: 80px;
        text-align: justify;
        color: #222222;
    }

    &__interface li {
        font-size: 20px;
    }

    &__img {
        width: 100%;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;

    }
}

.interfaceConte__pestañasend {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.interfaceConte__imgend {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
}

/*Interface saas*/


/* Footer*/
.footerbeta {
    img{
    box-sizing: border-box;
    width: 100%;
    }
}

/* Footer*/
@import "_mediaQ.scss";