/*Titulos y textos*/
h1{
    font-size: $titulos-max;
    text-align: center;
    padding: 30px;
}
h2{
    font-size: $titulos-max;
    text-align: center;
    padding: 30px;
}
h3 {
    font-size: $titulos-max;
    text-align: center;
    padding: 30px;
}

h4 {
    padding-top: 10%;
    text-align: center;
    font-size: $titulos-mid;
}

.titulo__sistemas {
    padding-bottom: 15px;
}

h5 {
    font-size: $titulos-min;
    @include box-pad(none, none, 35px, 35px);
    text-align: center;
}


.text__carrousel p {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 7px;
    padding-left: 70%;
    color: #040404;
    font-size: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    animation: flipInX;
    animation-duration: 2s;
}

.text__carrousel2 {
    display: none;
    &:hover{
        color: $primary-color;
    }
}

.Textinfo {
    font-size: $Text-All;
    text-align: justify;
    padding: 5%;
}

.info__caract {
    font-size: $Text-All;
    text-align: justify;
    padding: 5%;
    background-color: #F2F2F2;

}

.Texto__download {
    width: 100%;
    height: 100%;
}

.tittle__games {
    color: #ece1e1;
    font-size: 20px;
    padding: 6%;
}

.Tittle__juegimg {
    text-align: center;
    font-style: italic;
}

/*Titulos y textos*/

/*Botones*/
.button {
    text-align: center;
    padding-bottom: 34px;
    &__A {
        border-radius: 4%;
        color: rgb(255, 255, 255);
        background-color: $primary-color;
        font-size: 14px;
        border: transparent;
    }
    &__A:hover{
        background-color: #d60540;
        border-color: unset;
    }
}

/*Botones*/