* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*background + logos img*/
.imgbackgroud {
    width: 100%;
    height: auto;
}
.imglogoinfo1 {
    display: none;
}

.imglogoinfo2 {
    display: none;
}
/*background + logos img*/