/* Sistemas operativos Donwload saas*/
.sistemas {
    display: grid;
    justify-items: center;
    background-color: $Box-color;

    &__container {
        @include flex (none, center, none, wrap);

        img {
            height: $box-size;
            @include box-pad(none, 8px, none, 5px);
        }
    }
}

/* Guia instalacion Download*/
.Video__tuto {
    padding-top: 12px;
    text-align: center;
}

/* Guia instalacion Download*/
/* Sistemas operativos Donwload saas*/