/*Index*/
.containerindex {
    margin: auto;
    max-width: 1400px;
    &__emulatorsindex{
        @include box-pad(none, none, 15px, 15px);
        background-color: $Box-color;
        margin: 25px;
    }
    &__juegosindex { 
        @include box-pad(none, none, 15px, 15px);
        background-color: $Box-color;
        margin: 25px;}
}

.emuimg {
    width: $box-size;
    margin: 5px;
}

.containerindex__Emuladores {
    @include flex (none, center, none, wrap);

}

.cointainer__juegos {
    @include flex (none, center, none, wrap);
}

.jueimg {
    width: $box-size;
    margin: 5px;
}
/*Index*/